<footer class="f_info">
    <div class="f-info-social">
        <a href="https://www.facebook.com/share/1BSmtcccqC/">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="https://www.instagram.com/kalpe5h_?igsh=MWRsb2h6dXFnOWNpdg==">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/kalpesh-wani-54b16131a/">
            <i class="fa-brands fa-square-linkedin"></i>
        </a>
        
    </div>
    <div class="f_head">&copy;Travelopedia Pvt. Ltd. By Kalpesh</div>
    <div class="f-info-links">
        <a href="/listings">Privacy</a>
        <a href="/listings">Terms</a>
    </div>
</footer>